body {
    margin: 0;
    height: 100vh;
    /* Viem Heigth - Altura do View Port (tela) */
    background-color: #c3cfd9;
    
    
    padding: 4px;
    gap: 4px;
    
    box-sizing: border-box;
    /*Seja um grid conteiner */
    display: grid;

    /* Configurações do grid */
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: 0.2fr  1fr 0.2fr;

    grid-template-areas:
    "cabecalho cabecalho"
    "aolado principal"
    "rodape rodape"


    
}

header {
    background-color: #dfe6ed;
    

    /* grid-column: 1/3; */
    grid-area: cabecalho;
}

main {
    background-color: #edb5bd;
    padding: 5px;
    gap: 5px;

    grid-area: principal;

    display: flex;

    flex-direction: column;
}

main > * {
    flex-grow: 1;
}

/*#divUm {
    flex-grow: 1;

}

#divDois {
    flex-grow: 1;
}*/

aside {
    background-color: #dfe6ed;
    

    grid-area: aolado;
}

footer {
    background-color: #dfe6ed;
    


    grid-area: rodape;
}

div {
    background-color: #d5e7f7;
    padding: 5px;
    gap: 5px;

    display: flex;
}

div > * {
    flex-grow: 1;
}

article {
    background-color: #a3dfd9;
    padding: 5px;
    
}